<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Handlebar.js 模板</title>
    <link rel="stylesheet" href="css/amazeui.min.css">
    <link rel="stylesheet" href="css/app.css">
    <!-- 引用amazeui的功能样式 -->
    <script src="js/jquery.min.js"></script>
    <script src="js/amazeui.js"></script>
</head>
<body>
{{!-- {{> topheader}} --}}

{{> header}}
{{> pic}}
{{> person}}
{{> footer}}



</body>
</html>