<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Handlebar.js 模板</title>
    <link rel="stylesheet" href="../assets/css/amazeui.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
    <!-- 引用amazeui的功能样式 -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/amazeui.js"></script>
</head>
<body>